.container {
    min-width: 100px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    background-color: var(--text);
    color: var(--bg);
}